{% extends "bootstrap/base.html" %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block title %}
    Things are not okay
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-brand">
            <p>isdemocracyonfire.com</p>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <div class="jumbotron">
            <h2>Current status:</h2>
            <h1><strong>Yes</strong>, democracy is on fire. :(</h1>
        </div>
    </div>
</div>

<footer class="footer">
<div class="container">
    <p class="text-muted">This site is inspired by the always excellent <a href=https://www.istheinternetonfire.com>istheinternetonfire.com</a></p>
</div>
</footer>

{% endblock %}
